<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>CRUD</title>
</head>
<body>

<p><a href="http://localhost:8080/crud/crud_page?operation=create&entity=provider_product">перейти на страницу создания продукта поставщика</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=update&entity=provider_product">перейти на страницу обновления продукта поставщика</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=delete&entity=provider_product">перейти на страницу удаления продукта поставщика</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=get&entity=provider_product">перейти на страницу получения продукта поставщика</a></p>

<p><a href="http://localhost:8080/crud/crud_page?operation=create&entity=store">перейти на страницу создания торговой точки</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=update&entity=store_choose">перейти на страницу обновления торговой точки</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=delete&entity=store">перейти на страницу удаления торговой точки</a></p>
<p><a href="http://localhost:8080/crud/crud_page?operation=get&entity=store">перейти на страницу получения торговой точки</a></p>
</body>
</html>