<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>CRUD</title>
</head>
<body>

<p><a href="http://localhost:8080/query/get_query?query=query1">перейти на меню запроса N 1</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query2">перейти на меню запроса N 2</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query3">перейти на меню запроса N 3</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query4">перейти на меню запроса N 4</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query5">перейти на меню запроса N 5</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query6">перейти на меню запроса N 6</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query7">перейти на меню запроса N 7</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query8">перейти на меню запроса N 8</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query9">перейти на меню запроса N 9</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query10">перейти на меню запроса N 10</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query11">перейти на меню запроса N 11</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query12">перейти на меню запроса N 12</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query13">перейти на меню запроса N 13</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query14">перейти на меню запроса N 14</a></p>
<p><a href="http://localhost:8080/query/get_query?query=query15">перейти на меню запроса N 15</a></p>

</body>
</html>