<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <label for="uid">выберите id торговой точки: </label></td>
        <td><select id="uid" name="fruits">
                <option th:each="i : ${store_list}" th:value="${i.id}" th:text="${i.id}" }></option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="utype">введите тип торговой точки: </label></td>
        <td><select id="utype" name="fruits">
                <option value="department">универмаг</option>
                <option value="shop">магазин</option>
                <option value="kiosk">киоск</option>
                <option value="lotok">лоток</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="ubegindate">введите начальную дату: </label></td>
        <td><input
                type="date"
                id="ubegindate"
                name="name" /></td>
    </tr>
    <tr>
        <td><label for="uenddate">введите конечную дату: </label></td>
        <td><input
                type="date"
                id="uenddate"
                name="name" /></td>
    </tr>
    <tr>
        <td>
            <label for="upname">выберите продукт: </label></td>
        <td><select id="upname" name="fruits">
                <option th:each="i : ${prod_list}" th:value="${i.name}" th:text="${i.name}" }></option>
            </select>
        </td>
    </tr>
</table>


<div style="padding:10px 0px 10px 0px;">
    <button id="firstOption" class="float-left submit-button" >первый вариант запроса</button>
    <label for="firstOption">Получить данные об объеме продаж указанного товара за некоторый период по всем торговым точкам</label>
</div>
<div style="padding:10px 0px 10px 0px;">
    <button id="secondOption" class="float-left submit-button" >второй вариант запроса</button>
    <label for="secondOption">Получить данные об объеме продаж указанного товара за некоторый период по конкретной торговой точке</label>
</div>
<div style="padding:10px 0px 10px 0px;">
    <button id="thirdOption" class="float-left submit-button" >третий вариант запроса</button>
    <label for="thirdOption">Получить данные об объеме продаж указанного товара за некоторый период по торговым точкам заданного типа</label>
</div>

<script type="text/javascript">
    document.getElementById("firstOption").onclick = function () {
        pname=document.getElementById("upname").value;
        bdate = document.getElementById("ubegindate").value;
        edate = document.getElementById("uenddate").value;
        location.href = "http://localhost:8080/query/query7?"
        +"pname="+pname
        +"&begindate="+bdate
        +"&enddate="+edate;
    };
    document.getElementById("secondOption").onclick = function () {
        pname=document.getElementById("upname").value;
        bdate = document.getElementById("ubegindate").value;
        edate = document.getElementById("uenddate").value;
        id = document.getElementById("uid").value;
        location.href = "http://localhost:8080/query/query7?"
        +"pname="+pname
        +"&begindate="+bdate
        +"&enddate="+edate
        +"&id="+id;
    };
    document.getElementById("thirdOption").onclick = function () {
        pname=document.getElementById("upname").value;
        bdate = document.getElementById("ubegindate").value;
        edate = document.getElementById("uenddate").value;
        type = document.getElementById("utype").value;
        location.href = "http://localhost:8080/query/query7?"
        +"pname="+pname
        +"&begindate="+bdate
        +"&enddate="+edate
        +"&type="+type;
    };
</script>
</body>
</html>