<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <label for="sid">выберите id торговой точки: </label>
    <select id="sid" name="fruits">
        <option th:each="i : ${store_list}" th:value="${i.id}" th:text="${i.id}" }></option>
    </select>
</form>
<div style="padding:10px 0px 10px 0px;">
<button id="firstOption" class="float-left submit-button" >обновить</button>
</div>

<script type="text/javascript">
    document.getElementById("firstOption").onclick = function () {
        sid=document.getElementById("sid").value;
        location.href = "http://localhost:8080/crud/update/choose/store?"
        +"id="+sid;
    };
</script>
</body>
</html>